@import 'theme';

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #afafaf;
  --color-blue-royal: #276ee5;
  --color-red-radical: #ff3366;
  --color-green-Caribbean: #09baa6;
  --color-red-alizarin: #e53123;
  --color-background: var(--color-white);
  --color-primary: var(--color-black);
  --color-secondary: var(--color-red-alizarin);
  --color-text-primary: var(--color-black);
  --color-text-secondary: var(--color-gray);
}

.theme-dark:root {
  --color-background: #333333;
  --color-text-primary: #eeeeee;
}

body {
  background-color: var(--color-background);
}
