@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/*
::selection {
  background-color: #eab308;
  color: #000;
}
*/
html {
  font-family: var(--font-inter);
  min-width: 360px;
}

p {
  font-family: var(--font-outfit);
}

time {
  font-family: var(--font-outfit);
}

.nav-border {
  --tw-border-opacity: 1;
  border-color: rgb(230 60 77 / var(--tw-border-opacity));
}

.nav-item {
  background: radial-gradient(150% 300% at 0% 50%, rgba(230, 60, 77, 0.5) 0%, rgb(0, 0, 0) 100%);
  --tw-border-opacity: 1;
  border-color: rgb(230 60 77 / var(--tw-border-opacity));
}

.link-articles {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
}

.blog-item {
  position: relative;
  cursor: pointer;
}

.blog-item:hover::before {
  opacity: 1;
  background-image: linear-gradient(120deg, hsl(0, 84%, 60%, 11.6%), hsl(45, 93%, 47%, 12.9%));
  transition: all 333ms ease 0s;
  transform: scale(1);
}

.blog-item::before {
  content: '';
  border-radius: 14px;
  display: block;
  position: absolute;
  z-index: 0;
  inset: calc(15px * -1);
  padding: 15px;
  opacity: 0;
  transform: scale(0.9);
}

.blog-item-link {
  position: relative;
  z-index: 1;
}

.all-blogs {
  margin-bottom: 30px;
}

.prose {
  /* color: var(--tw-prose-body); */
  max-width: 1280px;
}

.prose .anchor {
  @apply invisible no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all decoration-neutral-500 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-white;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply border border-white/10 bg-white/5;
}

.prose code {
  @apply text-white px-1 py-1 rounded-lg bg-white/10;
}

.prose pre code {
  @apply text-neutral-200 p-0;
  border: initial;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre > code {
  display: grid;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply text-white;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: inherit;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.prose .callout > p {
  margin: 0 !important;
}

[data-rehype-pretty-code-fragment] code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm text-black;
  counter-reset: line;
  box-decoration-break: clone;
}
[data-rehype-pretty-code-fragment] .line {
  @apply py-1;
}
[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}
[data-rehype-pretty-code-fragment] .line--highlighted {
  /* @apply bg-neutral-950 bg-opacity-20; */
  @apply bg-white/5;
}
[data-rehype-pretty-code-fragment] .line-highlighted span {
  @apply relative;
}
[data-rehype-pretty-code-fragment] .word--highlighted {
  @apply rounded-md bg-slate-500 bg-opacity-10 p-1;
}
[data-rehype-pretty-code-title] {
  @apply px-4 py-3 font-mono text-xs font-medium border rounded-t-lg text-white border-white/20 bg-white/10;
}
[data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-t-none border-t-0;
}
