@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetBrains-mono);
}

.anchor-button {
  float: left;
  opacity: 0;
  transition-property: opacity;
  text-decoration: none;
}

.group:hover .anchor-button {
  @apply opacity-100;
}

.dark .shiki,
.dark .shiki span {
  color: var(--s-dark, inherit);
  --twoslash-popup-bg: #0e0e0e;
}

html:not(.dark) .shiki,
html:not(.dark) .shiki span {
  color: var(--s-light, inherit);
  --twoslash-popup-bg: #191919;
}

.root {
  isolation: isolate;
}
